In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [3]:
df = pd.read_csv('/Users/rbpope/Dropbox/MBA Executivo em BA e Big Data/Analise de Serie temporal/Analise_temporal/Amtrak_data.csv', sep=',')
df

      Month  Ridership
0    Jan-91   1708.917
1    Feb-91   1620.586
2    Mar-91   1972.715
3    Apr-91   1811.665
4    May-91   1974.964
..      ...        ...
154  Nov-03   2076.054
155  Dec-03   2140.677
156  Jan-04   1831.508
157  Feb-04   1838.006
158  Mar-04   2132.446

[159 rows x 2 columns]